<h1> Your Idea: </h1>

<p>Idea: <%= @idea.title %> </p>
<p>Description: <%= @idea.description %> </p>
<p>Notes: <%= @idea.notes %> </p>

<%= link_to "Edit Idea", edit_user_idea_path(@user, @idea) %>
<%= link_to "Delete Idea", user_idea_path, method: "delete" %>
<%= link_to "Ideas Index", user_path(@user) %>
