<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/application.css">
    <title>IdeaBox</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <a class="navbar-brand" href="#">IdeaBox</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <div class="navbar-right">
          <div class="nav navbar-nav">
            <% if logged_in?  %>
              <div type="button" class="btn btn-default navbar-btn navbar-right">   <%= link_to "Logout", logout_path, method: 'delete' %> </div>
              <div type="button" class="btn btn-default navbar-btn navbar-right"><%= link_to "Add New Idea", new_user_idea_path(@user) %> </div>
        <% else %>
          <div type="button" class="btn btn-default navbar-btn navbar-right">   <%= link_to "Login", login_path %> </div>
          <div type="button" class="btn btn-default navbar-btn navbar-right"><%= link_to "Sign Up", new_user_path %> </div>
          </div>
        </div>
        <% end %>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <% flash.each do |key, value| %>
    <div class="alert-<%= key %>">
      <%= value %>
    </div>
    <% end %>

    <%= yield %>
    <!-- <% if logged_in? %>
      <%= link_to "Logout", logout_path, method: 'delete' %>
    <% end  %> -->



    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src='/js/bootstrap.js'></script>
  </body>
</html>
